<!DOCTYPE html>
<html lang="ru">
<head>
	<title>UnionPay</title>
	<meta charset="utf-8">
	<meta description="UnionPay YandexTaxi landing">
	<meta keywords="UnionPay, YandexTaxi">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://use.typekit.net/snh3uqv.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script type="text/javascript" >
	  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	  ym(51668213, "init", {
	       clickmap:true,
	       trackLinks:true,
	       accurateTrackBounce:true
	  });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/51668213" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131177004-1"></script>
	<script>
	 window.dataLayer = window.dataLayer || [];
	 function gtag(){dataLayer.push(arguments);}
	 gtag('js', new Date());

	 gtag('config', 'UA-131177004-1');
	</script>
</head>
<body>
	<a class="button" href="#code">Получить код</a>
	<div class="map">
		<a href="rules.html" target="_blank">Полные правила</a>
	</div>
	<div class="hide-on-mobile animation">
		<img class="hide-on-mobile car" src="img/car.png" alt="">
		<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).on('scroll', function(){
				$('.car').css("left", Math.max(0 + 1*window.scrollY) + "px", 0);
			})
		</script>
		<img class="hide-on-mobile upcard" src="img/upcard.png">
		<script type="text/javascript">
			$(document).on('scroll', function(){
				$('.upcard').css("right", Math.max(0 + 1*window.scrollY) + "px", 0);
			})
		</script>
	</div>
	<div class="rules">
		<div class="rulesColumn">
			<p class="bold">Держателям карт UnionPay</p>
			<p class="normal">дарим промокод в&nbsp;Яндекс.Такси номиналом в&nbsp;1000&nbsp;рублей <br><a href="rules.html" target="_blank">Полные правила</a></p>
		</div>
		<div class="phone_wrapper">
			<img class="phone" src="img/phone.png" data-aos="fade-up">
			<img class="tab_phone" src="img/phone_tab.png" data-aos="fade-up">
		</div>
	</div>
	<div class="blue">
		<div class="blueText">
			<p class="bold">Карта UnionPay</p>
			<p class="normal">это скидки до&nbsp;30% и&nbsp;множество других приятных бонусов в&nbsp;ресторанах, торговых центрах, магазинах беспошлинной торговли, аутлетах, отелях и&nbsp;музеях в&nbsp;России и&nbsp;по&nbsp;всему&nbsp;миру</p>
			<div class="blueA">
				<a href="http://www.unionpayintl.com/cardholderServ/serviceCenter/merchant?language=ru" target="_blank">Узнайте о&nbsp;всех привилегиях</a>
			</div>
		</div>
		<div class="para_wrapper" data-aos="zoom-in-up">
			<div class="para"></div>
		</div>
	</div>
	<div class="moscow" ng-app="promoApp">
            <a name="code"></a>
            <div class="container-fluid">
                <div ng-controller="promoCtrl" class="row h-100">
                    <div class="col-12 col-lg-6 my-auto">
                        <div class="card rounded-lg pb-2">
                            <div>
                                <p class="cardText col-12">Введите первые 8 и&nbsp;последние 4 цифры Вашей карты UnionPay и&nbsp;получите промокод на&nbsp;скидку 1000 рублей в&nbsp;Яндекс Такси</p>
                            </div>
                            <div>
                                <form name="forms.promoForm" class="col-12">
                                    <div class="numbers">
                                        <fieldset>
                                            <input name="number" ng-model="data.cardStart" required>
                                        </fieldset>
                                        <span>1234</span>
                                        <fieldset>
                                            <input name="numberTwo" ng-model="data.cardEnd" required>
                                        </fieldset>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <div class="col text-center">
                                    <div class="btn btn-secondary rounded-pill" ng-click="promo(promoForm)" ng-class="{'disabled':!forms.promoForm.$valid}">ПОЛУЧИТЬ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 my-auto">
                        <div ng-if="data.error == 0" class="text-center">
                            <div ng-if="!data.result">
                                <p class="bold">Промокод выдается один раз за&nbsp;акцию</p>
                                <p class="normal">Номер карты, который вы вводите в&nbsp;поле, должен совпадать с&nbsp;картой, привязанной для&nbsp;оплаты Яндекс.Такси</p>
                            </div>
                            <p class="bold" ng-if="data.result" ng-bind="data.result"></p>
							<p ng-if="data.result" class="disclaimer">Скидка до 100 рублей действует на следующие 10 поездок,  с 01.03.2020 г. по 31.12.2020 г. при оплате
									картой
									UnionPay.	Максимальный размер скидки на каждую из десяти поездок составляет 100 рублей. Если у вас не получается активировать промокод, напишите в службу поддержки — <a href="mailto:support@taxi.yandex.ru">support@taxi.yandex.ru</a>. Подробнее: <a href="taxi.yandex.ru/promocode">taxi.yandex.ru/promocode</a>.
									Скачайте или откройте приложение Яндекс.Такси (0+) в AppStore или Google Play. Привяжите банковскую карту к приложению. В меню в разделе «Промокод» введите полученный код При заказе поездки выберите оплату картой. Яндекс.Такси – информационный сервис. Транспортные и иные услуги оказываются партнерами сервиса</p>
                        </div>
                        <div ng-if="data.error != 0" class="" ng-switch on="data.error">
                            <p class="bold" ng-switch-when="1062">Эта карта уже активирована!</p>
                            <p class="bold" ng-switch-default>Данные введены неверно!</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
	<div class="white">
		<p class="bold_center">ГДЕ ОФОРМИТЬ КАРТУ</p>
		<p class="normal_center">Вы можете оформить карту UnionPay в&nbsp;отделениях следующих банков</p>
	</div>
	<div class="place">
		<div class="banks">
		<div class="department">
			<a href="https://www.gazprombank.ru/personal/cards/745947/" target="_blank">
				<div class="department_inner">
					<div class="department_top">
						<div class="department_image">
							<img src="img/gazprom.png" alt="">
						</div>
					</div>
					<div class="department_bottom">
						<div class="department_link">Подробнее</div>
					</div>
				</div>
			</a>
		</div>
		<div class="department">
			<a href="https://www.rshb.ru/natural/card-detail/personal/" target="_blank">
				<div class="department_inner">
					<div class="department_top">
						<div class="department_image">
							<img src="img/rosselhoz.png" alt="">
						</div>
					</div>
					<div class="department_bottom">
						<div class="department_link">Подробнее</div>
					</div>
				</div>
			</a>
		</div>
		<div class="department">
			<a href="https://www.vostbank.ru/client/service/akcii_i_bonusi/rasplachivaytes-kartoy-unionpay-i-poluchayte-preimushchestva/" target="_blank">
				<div class="department_inner">
					<div class="department_top">
						<div class="department_image">
							<img src="img/vostok.png" alt="">
						</div>
					</div>
					<div class="department_bottom">
						<div class="department_link">Подробнее</div>
					</div>
				</div>
			</a>
		</div>
		<div class="department">
			<a href="https://solid.ru/retail/cards/debit-card/" target="_blank">
				<div class="department_inner">
					<div class="department_top">
						<div class="department_image">
							<img src="img/solidarnost.png" alt="">
						</div>
					</div>
					<div class="department_bottom">
						<div class="department_link">Подробнее</div>
					</div>
				</div>
			</a>
		</div>
		<div class="department">
			<a href="https://www.pskb.com/debit-cards/bank-card-unionpay/" target="_blank">
				<div class="department_inner">
					<div class="department_top">
						<div class="department_image">
							<img src="img/primsoc.png" alt="">
						</div>
					</div>
					<div class="department_bottom">
						<div class="department_link">Подробнее</div>
					</div>
				</div>
			</a>
		</div>
		<div class="department">
			<a href="https://www.primbank.ru/cards/individual_cards/karta-unionpay-gold/" target="_blank">
				<div class="department_inner">
					<div class="department_top">
						<div class="department_image">
							<img src="img/primore.png" alt="">
						</div>
					</div>
					<div class="department_bottom">
						<div class="department_link">Подробнее</div>
					</div>
				</div>
			</a>
		</div>
		<div class="department">
			<a href="https://www.bspb.ru/retail/cards/unionpay-classic/?bspb_param=analytics-link-unionpay" target="_blank">
				<div class="department_inner">
					<div class="department_top">
						<div class="department_image">
							<img src="img/spb.png" alt="">
						</div>
					</div>
					<div class="department_bottom">
						<div class="department_link">Подробнее</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	</div>
	<div class="questions">
		<div class="question_text">
			<p class="bold">Если у&nbsp;Вас остались вопросы</p>
			<p class="normal">воспользуйтесь формой обратной&nbsp;связи</p>
			<p class="normal">или напишите нам на почту uppromoteam@yandex.ru&nbsp;</p>
		</div>
		<form action="https://formspree.io/xwkpjyev" method="POST">
			<fieldset>
				<label for="text">Имя</label>
				<input type="text" name="name" placeholder="Иван Иванов">
				<label for="email">Email</label>
				<input type="email" name="_replyto" placeholder="ivan@example.com" required>
				<label for="message">Сообщение</label>
				<textarea name="message" placeholder="Введите ваше сообщение" required></textarea>
				<input type="submit" name="check" value="Отправить">
			</fieldset>
		</form>
	</div>
	<div class="video-wrapper">
	    <video src="media/moving.mov" autoplay muted loop></video>
	    <img src="img/uplogo.png" alt="" class="img-video-1"/>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="app.js"></script>

        <script>
            var host = "/promo.php";

            var app = angular.module("promoApp", []);
            app.controller("promoCtrl", ['$scope', '$http', function($scope, $http)
            {
                $scope.data = {cardStart: '', cardEnd: '', result: null, error: 0};
                
                $scope.forms = {}; 
                
                $scope.checkValid = function()
                {
                    //console.log($scope.data.cardStart);
                    
                    //console.log("Is valid: " + ($scope.data.cardStart.match(/\d{7,8}/) && $scope.data.cardEnd.match(/[\d]{4,4}/) ? true : false));
                    if(!$scope.data.cardStart || !$scope.data.cardEnd) return;

                    $scope.forms.promoForm.$valid = ($scope.data.cardStart.match(/[\d]{7,8}/) && $scope.data.cardEnd.match(/[\d]{4,4}/) ? true : false);
                
                    $scope.forms.promoForm.$invalid = !$scope.forms.promoForm.$valid;
                }
                
                $scope.promo = function()
                {
                    if($scope.forms.promoForm.$valid)
                    {
                        $http({method: "POST", url: host, data: encodeURI("action=promo&cardStart=" + $scope.data.cardStart + "&cardEnd=" + $scope.data.cardEnd), headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).then(function success(response)
                        {
                            console.log(response);
                            
                            if(response.data.error == 0)
                            {
                                $scope.data.result = "ВАШ ПРОМОКОД НА 1000 РУБЛЕЙ: " + response.data.promo;
                                
                                $scope.data.cardStart = $scope.data.cardEnd = null;
                            }
                            else
                            {
                                $scope.data.error = response.data.error;
                                $scope.data.result = null;
                            }
                        });
                    }
                    else
                    {
                        $scope.data.error = -1;
                    }
                }
                
                $scope.clear = function()
                {
                    $scope.data.result = null;
                    $scope.data.error = 0;
                }
                $scope.$watch('data.cardStart', function(newVal, oldVal, scope){
                $scope.data.error = 0;
                if(newVal)
                {
                    $scope.data.cardStart = newVal.replace(/[^\d]/, '').substr(0, 8);
                
                    $scope.checkValid();
                }
                });

                $scope.$watch('data.cardEnd', function(newVal, oldVal, scope){
                $scope.data.error = 0;
                if(newVal)
                {
                $scope.data.cardEnd = newVal.replace(/[^\d]/, '').substr(0, 4);
                
                $scope.checkValid();
                }
                });
               
            }]);
        </script>
</body>
</html>
